<div class="block-container">
  <div class="block-header ">
    <h3>Mot de passe oublié</h3>
  </div>
  <div class="block-body">
    <p>Saisissez l'adresse email que vous avez entré lors de votre inscription afin que nous vous renvoyons votre mot de passe par mail.</p>
  	<form role="form">
  		<div class="form-group">
  			<label for="email">Email address:</label>
  			<input type="email" class="form-control" id="email">
  		</div>
  		<div class="center">
  			<button  class="btn btn-default">Submit</button>
			</div>
	</form>
  </div>
  <div class="row">
  	<div class="col-md-6 col-xs-6 col-lg-6 col-sm-6 center"><a href="#" ng-click="ctrl.set_current_panel('connexion')">Connexion</a></div>
  	<div class="col-md-6 col-xs-6 col-lg-6 col-sm-6 center"><a href="#" ng-click="ctrl.set_current_panel('inscription')">créer un compte</a></div>
  </div>
</div>