<!DOCTYPE html>
<html ng-app= "pipboy">
<head>
	<title>Social network</title>
	<meta charset="utf-8" /> 
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,900' rel='stylesheet' type='text/css'>
	<link href='css/bootstrap.min.css' rel='stylesheet' type='text/css'>
	<link href='css/style.css' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="container">
		<div class="flex" ng-controller = "menu_buttons as ctrl">
			<div class="nav-bar">
				<div class="row">
					<div class="col-md-4 col-xs-4 col-lg-4 col-sm-4 ">
						<div class="nav-button" ng-click="ctrl.set_current_menu_button('button_contact')">
							<span ng-click="ctrl.set_current_menu_button('button_contact')">contacts</span>
						</div>
						<div class="inframe"></div>
						<div class="inframe-border"></div>
					</div>
					<div class="col-md-4 col-xs-4 col-lg-4 col-sm-4 ">
						<div class="nav-button" ng-click="ctrl.set_current_menu_button('button_mur')">
							<span ng-click="ctrl.set_current_menu_button('button_mur')">mur</span>
						</div>
					</div>
					<div class="col-md-4 col-xs-4 col-lg-4 col-sm-4 ">
						<div class="nav-button" ng-click="ctrl.set_current_menu_button('button_param')">
							<span ng-click="ctrl.set_current_menu_button('button_param')">profil</span>
						</div>
					</div>
				</div>
				<div class="nav-separator"></div>
			</div>
			<div class="sub-menu-buttons" >
				<span ng-repeat= "sub_title in ctrl.current_menu_button track by $index" ng-class="{selected: sub_title.selected}" ng-click="ctrl.set_current_sub_menu_button($index);">{{sub_title.name}}</span>
			</div>
			<div class="row tpl-container">
				<div  class="col-md-12 col-xs-12 col-lg-12 col-sm-12 articles-cont" ng-view>
		        </div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/angular-route.js"></script>
	<script type="text/javascript" src="js/dateformatter.js"></script>
	<script type="text/javascript" src="js/autocomplete.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
	<script type="text/javascript" src="js/TimeCircles.js"></script>
	<script type="text/javascript" src="js/underscore-min.js"></script>
	<script type="text/javascript" src="js/bootstrap.alert.js"></script>
	<script type="text/javascript">

		var menu_button_frame = '<div class="inframe"></div><div class="inframe-border"></div>';

		$(document).ready(function () {


			$('.nav-button').click(function(event){
				switch_menu(event.target);
			});

			var nav_buttons = $('.nav-button');
			var span_nav_buttons = $('.nav-button span');

			$.each(nav_buttons, function(index){
				$(nav_buttons[index]).width($(span_nav_buttons[index]).width());
			});


			setTimeout(function(){
				$('.nav-button:eq(1)').trigger('click');
			}, 50);
		});


		function return_pixel_value(value, add){
			value = parseFloat(value);
			value += add;
			return value +="px";
		}

		function switch_menu(target){
			var selected;
			if($(target).hasClass('nav-button')){
				selected = target;
			}else{
				selected = $(target).parents('.nav-button');

			}
			$('.inframe').remove();$('.inframe-border').remove();
			$(selected).after(menu_button_frame);

			var div_width = $(selected).width();
			var div_height = $($(selected).children('span')).height();
			var div_marge = $(selected).css('margin-left');

			$('.inframe').width(div_width+15);
			$('.inframe-border').width(div_width+5);
			$('.inframe').height(div_height/2);
			$('.inframe').css('margin-left', return_pixel_value(div_marge, -10));
			$('.inframe-border').css('margin-left',  return_pixel_value(div_marge, -10));

		}
	</script>
</body>
</html>