<!DOCTYPE html>
<html ng-app= "pipboy">
<head>
	<title>Social network</title>
	<meta charset="utf-8" /> 
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,900' rel='stylesheet' type='text/css'>
	<link href='css/bootstrap.min.css' rel='stylesheet' type='text/css'>
	<link href='css/style.css' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="container">
		<div class="flex" ng-controller = "menu_buttons as ctrl">
			<div class="nav-bar">
				<div class="row">
					<div class="col-md-4 col-xs-4 col-lg-4 col-sm-4 ">
						<div class="nav-button" ng-click="ctrl.set_current_menu_button('button_contact')">
							<span ng-click="ctrl.set_current_menu_button('button_contact')">contacts</span>
						</div>
						<div class="inframe"></div>
						<div class="inframe-border"></div>
					</div>
					<div class="col-md-4 col-xs-4 col-lg-4 col-sm-4 ">
						<div class="nav-button" ng-click="ctrl.set_current_menu_button('')">
							<span ng-click="ctrl.set_current_menu_button('button_mur')">mur</span>
						</div>
					</div>
					<div class="col-md-4 col-xs-4 col-lg-4 col-sm-4 ">
						<div class="nav-button" ng-click="ctrl.set_current_menu_button('button_param')">
							<span ng-click="ctrl.set_current_menu_button('button_param')">profile</span>
						</div>
					</div>
				</div>
				<div class="nav-separator"></div>
			</div>
			<div class="sub-menu-buttons" >
				<span ng-repeat= "sub_title in ctrl.current_menu_button track by $index" ng-class="{selected: sub_title.selected}" ng-click="ctrl.set_current_sub_menu_button($index)">{{sub_title.name}}</span>
			</div>
			<div class="row tpl-container">
				<div class="col-md-4 col-xs-4 col-lg-4 col-sm-4 sn-member-container">
					<div ng-controller="sn_member as ctrl_member">
						<h2>Membres</h2>
						<div class="row member-title">
							<div class="col-md-6 col-xs-6 col-lg-6 col-sm-6">Name</div>
							<div class="col-md-3 col-xs-3 col-lg-3 col-sm-3">Online</div>
							<div class="col-md-3 col-xs-3 col-lg-3 col-sm-3">Ami</div>
						</div>
						<div class="row member-info" ng-repeat= "member in ctrl_member.members">
							<div class="col-md-6 col-xs-6 col-lg-6 col-sm-6 name"><p >{{member.name}}</p></div>
							<div class="col-md-3 col-xs-3 col-lg-3 col-sm-3">
								<div  ng-if="member.online" class="online"></div>
								<div  ng-if="!member.online" class="not-online"></div>
							</div>
							<div class="col-md-3 col-xs-3 col-lg-3 col-sm-3 friend">
								<span ng-if="member.friend" class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
								<span ng-if="!member.friend" class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
							</div>
						</div>
						<!-- <span ng-repeat= "member in ctrl_member.members" ng-class="{member-online: member.online}"  class="glyphicon glyphicon-record" aria-hidden="true"></span> -->
					</div>
				</div>
				<div class="col-md-8 col-xs-8 col-lg-8 col-sm-8 articles-cont" ng-include="ctrl.template.url" >
					
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/dateformatter.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
	<script type="text/javascript">

		var menu_button_frame = '<div class="inframe"></div><div class="inframe-border"></div>';

		$(document).ready(function () {


			$('.nav-button').click(function(event){
				switch_menu(event.target);
			});

			var nav_buttons = $('.nav-button');
			var span_nav_buttons = $('.nav-button span');

			$.each(nav_buttons, function(index){
				$(nav_buttons[index]).width($(span_nav_buttons[index]).width());
			});


			setTimeout(function(){
				$('.nav-button:first').trigger('click');
			}, 50);
		});


		function return_pixel_value(value, add){
			value = parseFloat(value);
			value += add;
			return value +="px";
		}

		function switch_menu(target){
			var selected;
			if($(target).hasClass('nav-button')){
				selected = target;
			}else{
				selected = $(target).parents('.nav-button');

			}
			$('.inframe').remove();$('.inframe-border').remove();
			$(selected).after(menu_button_frame);

			var div_width = $(selected).width();
			var div_height = $($(selected).children('span')).height();
			var div_marge = $(selected).css('margin-left');

			$('.inframe').width(div_width+15);
			$('.inframe-border').width(div_width+5);
			$('.inframe').height(div_height/2);
			$('.inframe').css('margin-left', return_pixel_value(div_marge, -10));
			$('.inframe-border').css('margin-left',  return_pixel_value(div_marge, -10));

		}
	</script>
</body>
</html>